<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="#">Home</a></li>
                <!-- Add additional navigation links as needed -->
            </ul>
        </nav>
    </header>

    <div class="main-content">
        {% block content %}
        <h1>Home Page</h1>
        <p>Hello {{ name }}. Welcome to your quiz.</p>
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2023 Your Website Name</p>
    </footer>

    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>
