{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block content %}
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      text-align: center;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #333;
    }

    form {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h4 {
      color: #333;
      margin-bottom: 10px;
    }

    input[type="radio"] {
      margin-bottom: 8px;
    }

    input[type="submit"] {
      background-color: #3498db;
      color: white;
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
    }

    input[type="submit"]:hover {
      background-color: #2980b9;
    }
  </style>

  <h1>Welcome to the Quiz Application</h1>

  <form action="/submitquiz" method="post">
    {% for question in questions_list %}
      <h4>{{ question.question }}</h4>
      <input type="radio" name="{{ question.q_id }}" value="{{ question.incorrect_answers[0] }}"> {{ question.incorrect_answers[0] }} <br>
      <input type="radio" name="{{ question.q_id }}" value="{{ question.incorrect_answers[1] }}"> {{ question.incorrect_answers[1] }} <br>
      <input type="radio" name="{{ question.q_id }}" value="{{ question.correct_answer }}"> {{ question.correct_answer }} <br><br>
    {% endfor %}

    <input type="submit" name="submitform" value="Submit">
  </form>
{% endblock %}
