{% extends "base.html" %}

{% block title %}Quiz{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quiz Application</title>
  <link rel="stylesheet" href="/static/quiz.css">
</head>
<body>
  <h1>Welcome to the Quiz Application</h1>

  <form action="/submitquiz" method="post">
    {% for question in questions_list %}
      <h4>{{ question.question }}</h4>
      <input type="radio" name="{{ question.q_id }}" value="{{ question.option1 }}"> {{ question.option1 }} <br>
      <input type="radio" name="{{ question.q_id }}" value="{{ question.option2 }}"> {{ question.option2 }} <br>
      <input type="radio" name="{{ question.q_id }}" value="{{ question.option3 }}"> {{ question.option3 }} <br><br>
    {% endfor %}

    <input type="submit" name="submitform" value="Submit">
  </form>
</body>
</html>
{% endblock %}
